* {
    margin: 0;
    padding: 0;
}

.fundo_index {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -99;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.fundo {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: -99;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.fundo::before {
    background-color: #f8f9fa!important;
    content: '';
    width: 25vw;
    height: 61vw;
    display: block;
    position: fixed;
    top: -10vw;
    left: 17vw;
    transform: rotate(20deg);
    z-index: -99;
}

.tudo {
    height: 100%;
}

.corpo_cadastro * {
    font-family: Arial, Helvetica, sans-serif;
}

.corpo_cadastro {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 56%); */
}

.tela_log_cad {
    padding: 0.6vw 0;
}

.container_cadastro {
    /* width: 22vw; */
    /* background-color: white; */
    /* height: 97.9%; */
    display: block;
    /* padding: 1vw 0 0 6vw; */
}

.titulo_div_cadastro {
    margin-bottom: 3vw;
}

.titulo_h1_cadastro {
    font-size: 30pt;
    text-align: center;
    font-family: arial;
    color: #232252;
    font-weight: 600;
}

.input_div {
    margin: 2vw 0;
}

.div_foto {
    width: 10vw;
    height: 10vw;
    display: block;
    background-color: #041329;
    /* border-radius: 75px; */
    /* margin: 0 auto; */
    margin-bottom: 1vw;
    cursor: pointer;
    border: 4px solid rgb(4, 19, 41);
}

.label_foto {
    width: 10vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14pt;
    cursor: pointer;
}

.show_image_up {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.input_foto {
    display: none;
}

.label_cadastro {
    font-size: 14pt
}

.input_text_cadastro {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: rgb(161 160 238 / 38%);
    outline: none;
}

.input_btn {
    width: 100%;
    padding: 1vw 0.5vw;
    font-size: 16pt;
    border-radius: 8px;
    background-color: #092f5f;
    color: white;
    border: none;
}

.input_btn:hover {
    background-color: #041329;
    box-shadow: 1px 1px 15px #041329;
}

.painel_log_cadastro {
    /* position: absolute; */
}

.painel_log_login {
    position: absolute;
}


/* div de exibição dos campos da pagina pulpito */

.campo_exibe_pulpito {
    /* border: solid 2px #041329; */
    margin: 1vw 0;
    /* border-radius: 10px; */
}

span.dropdown_btn {
    float: right;
    font-size: 22pt;
    cursor: pointer;
    display: none;
}

h5.dropdown_btn {
    cursor: pointer;
}

.dropdown_pulpito {
    display: none;
}

.caixa_dados_pulpito {
    border: solid 1px #041329;
    border-radius: 10px;
    padding: 1vw 1vw;
    margin: 1vw 0;
}


/* ipad pro 1024 */

@media screen and (max-width: 1500px) and (min-width: 950px) {
    .div_foto {
        width: 5vw;
        height: 5vw;
    }
    .label_foto {
        width: 5vw;
    }
}

@media screen and (max-width: 1024px) {
    .tela_log_cad {
        position: absolute;
    }
    .painel_log_cadastro {
        position: inherit;
    }
}

@media screen and (max-width: 334px) {
    .tela_log_cad {
        padding: 1.7vw 0;
        position: absolute;
    }
    .div_foto {
        /* width: 40vw;
        height: 40vw; */
        width: 35vw;
        height: 35vw;
    }
    .label_foto {
        width: 40vw;
    }
}


/* controle redirecionamentos */

.btn_pulp,
.btn_trasnc,
.btn_recep {
    display: none;
}

@media screen and (min-width: 1040px)
/*and (max-width: 1440px)*/

{
    .btn_pulp,
    .btn_recep {
        display: none;
    }
    .btn_trasnc {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 95%;
        top: 35%;
        margin: auto;
        left: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 450px) {
    .btn_trasnc,
    .btn_recep {
        display: none;
    }
    .btn_pulp {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 95%;
        top: 35%;
        margin: auto;
        left: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .btn_pulp,
    .btn_trasnc {
        display: none;
    }
    .btn_recep {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 100%;
        top: 35%;
    }
}


/* leitura de Pulpito */

.upper_pulpito {
    text-transform: uppercase;
}


/* btbn enviar dados */

.btn_atualiza_form {
    float: right;
}


/* btn atualiza pagina transcricão */

.atualiza_pagina {
    margin-top: -7.4vw !important;
}


/* input senha da pagina Login */

.senha_class {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


/* btnOK pulpito */

.btn_lido_OK {
    float: right;
    padding: 5px 10px;
    font-size: 15pt;
    border-radius: 20px;
    border: none !important;
    outline: none;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%);
    color: white;
    margin-top: -0.6vw;
}


/* toggler password button */

.btn_view_pass {
    border: solid #092f5f 1px;
    font-size: 15pt;
    color: white;
    border-radius: 5px;
    padding: 0.5vw 1vw 0.8vw;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    outline: none;
}

.pass_view_on {
    display: none;
}

.select_formID {
    width: 10vw;
}


/* CHAT */

.btn_chat {
    position: fixed;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 75px;
    outline: none;
    font-size: 30pt;
    border: none;
    z-index: 99;
}

.btn_chat:hover {
    background-color: white;
    color: black;
}