* {
    margin: 0;
    padding: 0;
}

.fundo_index {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -99;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.fundo {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: -99;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.fundo::before {
    background-color: #f8f9fa!important;
    content: '';
    width: 25vw;
    height: 61vw;
    display: block;
    position: fixed;
    top: -10vw;
    left: 17vw;
    transform: rotate(20deg);
    z-index: -99;
}

.tudo {
    /* height: 100%; */
}

.corpo_cadastro * {
    font-family: Arial, Helvetica, sans-serif;
}

.corpo_cadastro {
    /* height: 100%; */
    width: 100%;
    /* background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 56%); */
}

.tela_log_cad {
    padding: 0.6vw 0;
}

.container_cadastro {
    /* width: 22vw; */
    /* background-color: white; */
    /* height: 97.9%; */
    display: block;
    /* padding: 1vw 0 0 6vw; */
}

.titulo_div_cadastro {
    margin-bottom: 3vw;
}

.titulo_h1_cadastro {
    font-size: 30pt;
    text-align: center;
    font-family: arial;
    color: #232252;
    font-weight: 600;
}

.input_div {
    margin: 2vw 0;
}

.div_foto {
    width: 10vw;
    height: 10vw;
    display: block;
    background-color: #041329;
    /* border-radius: 75px; */
    /* margin: 0 auto; */
    margin-bottom: 1vw;
    cursor: pointer;
    border: 4px solid rgb(4, 19, 41);
}

.label_foto {
    width: 10vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14pt;
    cursor: pointer;
}

.show_image_up {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.input_foto {
    display: none;
}

.label_cadastro {
    font-size: 14pt
}

.input_text_cadastro {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: rgb(161 160 238 / 38%);
    outline: none;
}

.input_btn {
    width: 100%;
    padding: 1vw 0.5vw;
    font-size: 16pt;
    border-radius: 8px;
    background-color: #092f5f;
    color: white;
    border: none;
}

.input_btn:hover {
    background-color: #041329;
    box-shadow: 1px 1px 15px #041329;
}

.painel_log_login {
    position: absolute;
}


/* div de exibição dos campos da pagina pulpito */

.campo_exibe_pulpito {
    /* border: solid 2px #041329; */
    margin: 1vw 0;
    /* border-radius: 10px; */
}

span.dropdown_btn {
    float: right;
    font-size: 22pt;
    cursor: pointer;
    display: none;
}

h5.dropdown_btn {
    cursor: pointer;
}

.dropdown_pulpito {
    display: none;
}

.caixa_dados_pulpito {
    border: solid 1px #041329;
    border-radius: 10px;
    padding: 1vw 1vw;
    margin: 1vw 0;
}


/* ipad pro 1024 */

@media screen and (max-width: 1500px) and (min-width: 950px) {
    .div_foto {
        width: 5vw;
        height: 5vw;
    }
    .label_foto {
        width: 5vw;
    }
}

@media screen and (max-width: 1024px) {
    .tela_log_cad {
        position: absolute;
    }
    .painel_log_cadastro {
        position: inherit;
    }
}

@media screen and (max-width: 334px) {
    .tela_log_cad {
        padding: 1.7vw 0;
        position: absolute;
    }
    .div_foto {
        /* width: 40vw;
        height: 40vw; */
        width: 35vw;
        height: 35vw;
    }
    .label_foto {
        width: 40vw;
    }
}


/* controle redirecionamentos */

.btn_pulp,
.btn_trasnc,
.btn_recep {
    display: none;
}


/* leitura de Pulpito */

.upper_pulpito {
    text-transform: uppercase;
    border: none !important;
    border-bottom: 1px solid #082349 !important;
    /* border-radius: 0 !important; */
    border-left: 1px solid #082349 !important;
    border-right: 1px solid #082349 !important;
    box-shadow: 3px 2px 5px #092a566b;
}


/* btbn enviar dados */

.btn_atualiza_form {
    float: right;
}


/* btn atualiza pagina transcricão */

.atualiza_pagina {
    margin-top: -7.4vw !important;
}


/* input senha da pagina Login */

.senha_class {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


/* btnOK pulpito */

.btn_lido_OK {
    float: right;
    padding: 10px 10px;
    font-size: 15pt;
    border-radius: 20px;
    border: none !important;
    outline: none !important;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%);
    color: white;
    margin-top: -0.6vw;
}


/* toggler password button */

.btn_view_pass {
    /* border: solid #092f5f 1px; */
    font-size: 14.5pt;
    color: white;
    border-radius: 5px;
    padding: 0.5vw 1vw 0.8vw;
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    outline: none;
}


/* chat */

.mensagem_usuario_atual {
    background-color: #f8f9fa;
    color: #1d1d1d;
    padding: 5px 15px 5px 10px;
    border-radius: 10px;
    width: max-content;
}

.nome_usuario {
    background-color: #a7e8ff;
    color: #1d1d1d;
    padding: 5px 15px 5px 10px;
    border-radius: 10px;
    width: max-content;
}

#primary {
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%);
    height: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
}

.titulo_chat {
    background-color: #f8f9fa;
    text-align: center;
    padding: 5px 0;
    font-size: 15pt;
}


/* ========================================================================== *\
   HELPERS > Notifications
\* ========================================================================== */

.bg-success {
    background-color: rgba(193, 237, 20, 0.90);
    font-size: 0.6em;
    color: #000;
    padding: 0.5em;
}

.bg-error {
    background-color: rgba(208, 26, 15, 0.90);
    font-size: 0.6em;
    color: #FFF;
    padding: 0.5em;
}


/* Chat */

#sidebar {
    width: 200px;
    height: inherit;
    float: left;
    background-color: rgba(128, 128, 128, 0.95);
}

#log {
    height: 80%;
    overflow: auto;
}

#composer {
    height: 62px;
    padding: 3px 5px;
    background-color: rgba(195, 195, 195, 0.95);
}

.textbox_message {
    border-radius: 9px;
    padding: 7px 5px;
    font-size: 12pt;
    border: solid 1px #092e5d;
    background: #e4e4e4;
    color: #272727;
    width: 80%;
    outline: none;
}

#btn_send {
    width: 100px;
    background-color: #0a2e5e;
    border-radius: 10px;
    padding: 5.9px;
    font-size: 15pt;
    color: white;
    text-align: center;
    margin: 3px 0 0;
    outline: none;
    border: none;
    line-height: normal;
    font-family: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

#btn_send:HOVER {
    background: rgba(0, 0, 0, 1);
}

.long-content {
    height: fit-content;
    padding: 25px 20px;
    font-size: 12pt;
    display: block;
}


/* chat fim */

@media screen and (max-width: 450px) {
    .btn_view_pass {
        font-size: 23.5pt;
    }
    .div_btn_showPass {
        padding-top: 8px !important;
    }
    .tela_log_cad {
        /* top: 5%;
        left: 0px; */
        position: static;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .fundo::before {
        display: none;
    }
}

.pass_view_on {
    display: none;
}

.select_formID {
    width: 10vw;
    margin: 10px 0px 10px 4px;
    padding: 4px 4px;
    border: #082750 2px solid;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 15pt;
    color: #212529;
    font-family: arial, sans-serif;
}

.btn_selectID {
    font-size: 14pt;
    padding: 9px 14px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    /* border: #082750 solid 2px; */
    background-color: #082750;
    color: white;
    font-weight: 500;
    margin-left: -5px;
    outline: none;
    border: none;
}


/* CHAT */

.div_chat {
    display: none;
}

.btn_chat {
    position: fixed;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 10px;
    padding: 10px 10px;
    border-radius: 75px;
    outline: none !important;
    font-size: 20pt;
    border: none;
    z-index: 99;
}

.btn_chat_on {
    right: 42.5%;
}

.btn_chat:hover {
    background-color: white;
    color: black;
}

.div_chat {
    position: fixed;
    width: 42%;
    height: 100%;
    right: 0;
    z-index: 99;
    border-left: 3px solid #092c5b;
}

.close_mobile_chat {
    display: none;
}

.btn_chat_mobile {
    display: none;
}

.send_message_icon {
    display: none;
}

@media screen and (min-width: 1040px)
/*and (max-width: 1440px)*/

{
    .btn_pulp,
    .btn_recep {
        display: none;
    }
    .btn_trasnc {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 95%;
        top: 35%;
        margin: auto;
        left: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 450px) {
    .btn_trasnc,
    .btn_recep {
        display: none;
    }
    .btn_pulp {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 95%;
        top: 35%;
        margin: auto;
        left: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .btn_pulp,
    .btn_trasnc {
        display: none;
    }
    .btn_recep {
        display: inline-block;
    }
    .cont_mobile {
        position: absolute;
        width: 100%;
        top: 35%;
    }
    /* chat */
    .div_chat {
        width: 100%;
    }
    .send_message_icon {
        display: block;
    }
    .send_message_text {
        display: none;
    }
    #btn_send {
        width: 60px;
        padding: 10px;
        border-radius: 50px;
    }
    .btn_chat_on {
        display: none;
    }
    .close_mobile_chat {
        display: block;
        top: 4px;
        right: 10px;
        bottom: auto;
        font-size: 20pt;
        background-color: transparent;
        color: grey;
        padding: 0;
        position: fixed;
        outline: none;
        border: 0;
    }
    .btn_chat {
        display: none;
    }
    .btn_chat_mobile {
        display: block;
        position: fixed;
        background-color: black;
        color: white;
        bottom: 10px;
        right: 10px;
        padding: 10px 10px;
        border-radius: 75px;
        outline: none !important;
        font-size: 20pt;
        border: none;
        z-index: 99;
    }
    #composer {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0;
    }
}