body {
    background-color: #E0FFFF;
    /* padding: 4vw; */
}

#form {
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #092954;
    color: white;
    /* margin-top: 50px; */
    min-height: 100px;
    /* novos adicionados */
    width: 100%;
    padding: 10px 0;
    position: absolute;
}

.tudo {
    width: 100%;
    /* background-image: url(../img/maxresdefault.jpg); */
    /* background-repeat: no-repeat; */
    background-position: top;
    /* background-color: #ffffff75; */
    /* background-blend-mode: color; */
    background-image: linear-gradient(10deg, rgb(4, 19, 41) 20%, rgb(10, 49, 100) 100%)
}

.btn_form {
    background-color: #041329;
    border-color: #041329;
    height: 55px;
}

.btn_form:hover {
    background-color: #092954;
    border-color: #092954;
}

@media screen and (max-width: 1025px) and (min-width: 1000px) {
    .resp_12 {
        flex: 0 0 auto !important;
        width: 100%!important;
    }
    .tudo {
        position: absolute;
        height: 100%;
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
}